*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* --- INDEX PAGE --- */

.container {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f6f6ef;
}

.container .navbar {
  width: 100%;
  background-color: #ff6600;
  color: black;
}

.container .navbar__btn {
  display: inline-block;
  margin-right: 10px;
}

.container ul {
  list-style: none;
}

.container ul a:hover,
.container ul a:visited {
  text-decoration: none;
}

.container ul a:link,
.container ul a:active {
  text-decoration: none;
}

