*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

/* --- UNIVERSAL --- */

ul {
  list-style: none;
}

a:hover,
a:visited {
  text-decoration: none;
}

a:link,
a:active {
  text-decoration: none;
}

/* --- PAGE --- */

.container {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f6f6ef;
  /* --- INDEX PAGE LISTS --- */
}

.container .navbar {
  width: 100%;
  background-color: #ff6600;
  color: black;
}

.container .navbar__btn {
  display: inline-block;
  margin-right: 10px;
}

.container .navbar__auth {
  float: right;
}

.container .links {
  margin-bottom: 10px;
}

.container .links__btn {
  display: inline-block;
}

.container .links__btn a {
  color: #828282;
}

.container .links__title {
  display: block;
}

.container .links__title a {
  color: #000000;
}

