*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

html,
body {
  width: 1200px;
  margin: 0 auto;
  line-height: 1.5;
}

/* --- UNIVERSAL --- */

ul {
  list-style: none;
}

a:hover,
a:visited {
  text-decoration: none;
  color: #5C5C5C;
}

a:link,
a:active {
  text-decoration: none;
  color: #1c1c1c;
}

.icon {
  height: 13px;
  width: auto;
}

.icon--social {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.icon--social:hover {
  fill: red;
}

/* --- HEADER ---*/

.header-wrapper {
  height: 60px;
  padding: 5px;
  width: 1200px;
  position: fixed;
  z-index: 15;
  background-color: white;
}

.header-wrapper .logo {
  display: inline-block;
  float: left;
  width: 230px;
}

.header-wrapper .logo__image {
  height: 45px;
  width: auto;
}

.header-wrapper .logo__name {
  display: inline-block;
  line-height: normal;
  vertical-align: super;
  color: #9d9d9d;
}

.header-wrapper .search-wrapper {
  position: relative;
  display: inline-block;
  float: left;
  width: calc(90% - 230px);
}

.header-wrapper .search-wrapper .search-form__icon {
  position: absolute;
  top: 10px;
  left: 14px;
  color: #ff742b;
  font-size: 24px;
}

.header-wrapper .search-wrapper .search-form__input {
  border-radius: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 25px;
  padding: 0 15px 0 50px;
  height: 42px;
  border-color: #b6b6b6;
  width: 85%;
}

main {
  float: left;
  position: relative;
  width: 100%;
  margin-top: 100px;
  padding: 78px 0 0 200px;
}

/* --- SIDEBAR --- */

aside {
  background-color: #f8f8f8;
  left: 50%;
  margin-left: -600px;
  width: 200px;
  height: 100%;
  top: 60px;
  position: fixed;
  bottom: 0px;
  padding: 30px 0 10px;
  z-index: 5;
}

aside ul li {
  width: 100%;
}

aside ul li a {
  display: block;
  width: 100%;
  padding: 10px 20px;
  color: #5c5c5c;
}

aside ul li a i {
  margin-right: 10px;
}

/* --- PAGE --- */

.container {
  background-color: #fdfdfd;
  position: relative;
  /* --- INDEX PAGE LISTS --- */
  /* --- COMMENTS --- */
}

.container .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  width: 100%;
  border-bottom: solid 1px #eee;
}

.container .link__info {
  padding: 10px 100px 10px 0;
}

.container .link__url {
  font-size: 12px;
  color: #5a96b1;
}

.container .link__url:hover {
  border-bottom: dotted 1px #ccc;
}

.container .link__title {
  display: block;
}

.container .link__meta {
  font-size: 13px;
}

.container .link__social {
  margin-left: auto;
}

.container .thread {
  padding: 15px 0 10px 0;
  border-bottom: solid 1px #eeeeee;
}

.container .thread__comment--user {
  float: left;
}

.container .thread__reply {
  padding: 8px 0 0 15px;
  border-left: solid 1px #ccc;
}

.container .thread__reply--user {
  float: left;
}

.container .thread__reply--body {
  margin-bottom: 15px;
}

.container .comment-form textarea {
  border: 1px solid #828282 !important;
}

.container .comment-form__btn {
  border: 1px solid #828282 !important;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.container .comment-form__btn:hover {
  opacity: 0.8;
}

.link-form {
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
}

.link-form__input {
  display: block;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #edeff1;
  border-radius: 5px;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 8px;
  color: #1c1c1c;
  background-color: transparent;
}

.link-form__input--error {
  color: #fe5454;
  padding: 8px 0;
}

.link-form__title {
  height: 39px;
}

.link-form__url {
  height: 39px;
}

.link-form__description {
  height: 117px;
}

.link-form__btn {
  display: block;
  float: right;
  border: 1px solid #FF742B;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 3px 16px;
  color: #edeff1;
  background-color: #FF742B;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.link-form__btn:hover {
  opacity: 0.7;
}

.comment-form__body {
  display: block;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #edeff1;
  border-radius: 5px;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 8px;
  color: #1c1c1c;
  background-color: transparent;
}

