*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

html, body {
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

/* --- UNIVERSAL --- */

ul {
  list-style: none;
}

a:hover,
a:visited {
  text-decoration: none;
}

a:link,
a:active {
  text-decoration: none;
}

.icon {
  width: 13px;
  height: auto;
}

/* --- HEADER ---*/

.header-wrapper {
  margin-bottom: 20px;

  .logo {
    display: inline-block;
    float: left;
    width: 230px;

    &__image {
      height: 45px;
      width: auto;
    }

    &__name {
      display: inline-block;
      line-height: normal;
      vertical-align: super;
      color: #9d9d9d;
    }

  }

  .search-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    width: calc(90% - 230px);

    .search-form {
    
      &__icon {
	position: absolute;
	top: 10px;
	left: 14px;
	color: #ff742b;
	font-size: 24px;

      }

      &__input {
	border-radius: 25px;
	box-shadow: none;
	line-height: 25px;
	padding: 0 15px 0 50px;
	height: 42px;
	border-color: #b6b6b6;

	width: 85%;

      }

    }

  }

}

/* --- PAGE --- */

.container {
  background-color: #f6f6ef;

  /* --- NAVBAR ---*/
  .navbar {
    width: 100%;
    background-color: #ff6600;
    color: black;

    &__btn {
      display: inline-block;
      margin-right: 10px;

    }

    &__auth {
      float: right;
    }

  }

  /* --- INDEX PAGE LISTS --- */
  .link {
    display: flex;
    padding: 30px 0;
    border-bottom: solid 1px #eee;

    &__title {
      display: block;
    }

    &__meta {
      font-size: 13px;
    }

    &__social {
      margin-left: auto;
    }

  }


  /* --- COMMENTS --- */
  .thread {
    padding: 15px 0 10px 0;
    border-bottom: solid 1px #eeeeee;

    &__comment {

      &--user {
	float: left;
      }

      &--date {
      }

      &--body {
      }

    }

    &__reply {
      padding: 8px 0 0 15px;
      border-left: solid 1px #ccc;

      &--user {
	float: left;
      }

      &--body {
	margin-bottom: 15px;
      }

    }

  }

  .comment-form {
    textarea {
      border: 1px solid #828282 !important;
    }

    &__btn {
      border: 1px solid #828282 !important;
      opacity: 1;
      transition: opacity 0.3s;

      &:hover {
	opacity: 0.8;
      }

    }

  }

}
