*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

/* --- UNIVERSAL --- */

ul {
  list-style: none;
}

a:hover,
a:visited {
  text-decoration: none;
}

a:link,
a:active {
  text-decoration: none;
}


/* --- PAGE --- */

.container {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f6f6ef;

  .navbar {
    width: 100%;
    background-color: #ff6600;
    color: black;

    &__btn {
      display: inline-block;
      margin-right: 10px;

    }

    &__auth {
      float: right;
    }

  }

  /* --- INDEX PAGE LISTS --- */
  .links {
    margin-bottom: 10px;

    &__btn {
      display:inline-block;

      a {
	color: #828282;
      }

    }
    
    &__title {
      display: block;

      a {
	color: #000000;
      }

    }

  }

}
